$bgcolor1: #dfe0e4;

$bgcolor2: #4586fe;

$color3: #f6f7fb;

$color4: #ffffff;

$icon-color: #cbcfd2;

$text-color: #989fa7;

$star-color: #4886ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#background:before {
    
    content: '';
    position: absolute;
    left: 50%;
    width: 100%; 
    height: 100%; 
    background-color: $bgcolor2;
    top: 0;
    transform: skewX(-34deg);
}

#background { 

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $bgcolor1;

    #page {

        height: 90%;
        width: 90%;
        margin: 2.5% auto;
        background-color: $color3;
        position: relative;
        border-radius: 15px;
        box-shadow: -1px 3px 20px 0px $text-color;

        #nav {

            width: 100%;
            height: 8%;
            background-color: $color4;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            box-shadow: 0px 2px 20px 0px $bgcolor1;

            #boards {

                width: 15%;
                float: left;
                

                .icon-th-large {

                    width: 20%;
                    padding: 25px 0 0 25px;
                    float: left;
                    font-size: 18px;
                    color: $icon-color;

                }

                #boards-title {

                    width: 80%;
                    float: left;
                    font-family: Arial, sans-serif;
                    padding: 25px 0 0 15px;
                    color: $text-color;

                }

            }

            #search {

                width: 15%;
                float: left;

                .icon-search {

                    width: 20%;
                    float: left;
                    padding: 24px 0 0 15px;
                    font-size: 18px;
                    color: $icon-color;

                }

                input[type=search] {
                    
                    width: 80%;
                    float: left;
                    padding: 26px 0 0 0;
                    background-color: transparent;
                    border: none;
                    outline: none;  
                    color: $text-color;

                }

                input[type=search]::-webkit-input-placeholder {
                    color: $icon-color;
                }
                
                input[type=search]:-moz-placeholder { /* Firefox 18- */
                    color: $icon-color;
                }
                
                input[type=search]::-moz-placeholder {  /* Firefox 19+ */
                    color: $icon-color;  
                }
                
                input[type=search]:-ms-input-placeholder {  
                    color: $icon-color; 
                }

            }

            #trello {

                color: $bgcolor2;
                font-family: 'Pacifico', cursive;
                font-size: 20px;        
                width: 40%;
                float: left;
                text-align: center;  
                padding: 8px 0 0 0;        
                
            }

            #user {
                
                width: 20%;
                float: left;


                #user-icon {

                    border-radius: 7px;
                    width: 16%;
                    margin-left: 44%;
                    float: left;
                    padding: 16px 5px 0 10px;

                }

                #username {

                    width: 40%;
                    font-family: Arial, sans-serif;
                    float: left;
                    padding: 26px 0 0 10px;
                    color: $text-color;

                }

            }

            #notifications {
                
                width: 5%;
                float: left;

                .icon-bell-o {
                    width: 100%;
                    float: left;
                    padding-top: 25px;
                    font-size: 18px;
                    text-align: center;
                    color: $icon-color;
                }
                
            }

            #menu {
                
                border-left: 2px solid $bgcolor1;
                width: calc(5% - 2px);
                float: left;
                height: 100%;

                .icon-list {
                    
                    width: 100%;
                    float: left;
                    padding-top: 22px;
                    font-size: 24px;
                    text-align: center;
                    color: $icon-color;

                }

            }

        }

        #buttons {

            width: 90%;
            height: 43px;
            margin: 34px auto 0;

            #team {

                width: 30%;
                float: left;
                font-family: Arial, sans-serif;

                #star {

                    width: 40px;
                    height: 40px;
                    position: relative;
                    float: left;
                    background: $star-color;
                    text-align: center;
                    padding: 10px;
                    border-radius: 6px;
                    box-shadow: 0px 1px 4px 1px $star-color;
                    margin-right: 20px;

                    .icon-star {

                        color: $color4;

                    }

                    #star-background {
                        
                        background-color: $color4;
                        height: 11.3px;
                        width: 11.3px;
                        position: relative;
                        top: -17px;
                        left: 4.9px;
                        border-radius: 20px;
                    
                    }
                    
                }

                #team-members {
                    position: relative;
                    float: left;
                    width: 40%;
                }

                #team-name {
                    position: relative;
                    float: left;   
                    width: 40%;
                    top: 24px;
                    left: -163px;
                    color: $text-color;
                }

            }

            #members {

                width: 26%;
                float: left;
                margin-left: 7%;
                font-family: Arial, sans-serif;

                #all-members {
                    width: 50%;
                    float: left;
                    text-align: center;  
                    padding: 10px;
                    background-color: $color4;
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 5px 0px $bgcolor1;            
                }

                #my-team {
                    width: 50%;
                    float: left;
                    text-align: center;
                    padding: 10px;
                    color: $text-color;
                    background-color: $color3;
                    border: 2px solid $icon-color;
                }

            }

            #filters {

                width: 10%;
                float: left;
                margin-left: 27%;
                font-family: Arial, sans-serif;

                #filter {
                    width: 40px;
                    height: 40px;
                    float: left;
                    text-align: center;  
                    padding: 10px 0 0 18px;
                    color: $icon-color;
                    transform: rotateY(180deg);
                    font-size: 22px;
                    margin-left: 16px;
                }

                #squares {
                    width: 40px;
                    height: 40px;
                    float: left;
                    text-align: center;  
                    padding: 10px;
                    color: $icon-color;
                    background-color: $color4;
                    border: 1px solid transparent;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    box-shadow: -1px 2px 20px 0px $bgcolor1;
                    font-size: 20px;
                }

                #lines {
                    width: 40px;
                    height: 40px;
                    float: left;
                    text-align: center;
                    padding: 10px;
                    color: $icon-color;
                    background-color: $color3;
                    border: 1px solid $icon-color;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    font-size: 20px;
                }

            }

        }

        #cards {

            width: 90%;
            height: 72%;
            margin: 34px auto 0;

            .start-card {

                width: 23.281%;
                height: 48.65%;
                margin: 0 1% 1% 0;
                display: inline-block;
                background-color: $color4;
                border-radius: 4px;
                box-shadow: 0px 0px 4px 1px $icon-color;

            }

            .card {

                width: 23.281%;
                height: 48.65%;
                margin: 0 1% 1%;
                display: inline-block;
                background-color: $color4;
                border-radius: 4px;
                box-shadow: 0px 0px 4px 1px $icon-color;
                
            }
            
            .end-card {

                width: 23.281%;
                height: 48.65%;
                margin: 0 0 1% 1%;
                display: inline-block;
                background-color: $color4;
                border-radius: 4px;
                box-shadow: 0px 0px 4px 1px $icon-color;

            }
    
            .profile-img {
                width: 60px;
                height: 60px;
                background-color: $bgcolor2;
                border-radius: 50%;
                margin: 14px 40% 0;
            }

            .username {
                width: 40%;
                float: left;
                margin: 10px 30% 0;
                text-align: center;
                font-family: Arial, sans-serif;

                .handle {
                    color: $icon-color;
                }

            }

            .icons {

                width: 100%;
                height: 40px;
                margin: 56px 0 0;
                border-bottom: 1px solid $icon-color;
                padding: 10px 0 0 0;

                .pencil {
                    float: left;
                    margin: 0 14.1%;
                    color: $icon-color;
                }

                .bell {
                    float: left;
                    margin: 0 14.1%;
                    color: $icon-color;
                }

                .garbage {
                    float: left;
                    margin: 0 14.1%;
                    color: $icon-color;
                }

            }

            .tasks {

            }

            .info {

                width: 100%;
                height: 40px;
                margin: 84px 0 0;
                border-top: 1px solid $icon-color;
                padding: 10px 0 0 0;

                .user-cards {
                    width: 50%;
                    height: 40px;
                    float: left;
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: -11px;
                    border-right: 1px solid $icon-color;

                    .info-button1-icon {
                        float: left;
                        padding: 11px 6px 0 40px;
                        color: $icon-color;
                    }

                    .info-button1 {
                        float: left;
                        padding: 10px 0 0 0;
                        color: $text-color;
                        font-family: Arial, sans-serif;
                    }

                }

                .user-profile {
                    width: 50%;
                    height: 40px;
                    float: left;
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: -11px;

                    .info-button2-icon {
                        float: left;
                        padding: 11px 6px 0 26px;
                        color: $icon-color;
                    }

                    .info-button2 {
                        float: left;
                        padding: 10px 0 0 0;
                        color: $text-color;
                        font-family: Arial, sans-serif;
                    }

                }

            }

            #add-card {

                width: 23.281%;
                height: 48.65%;
                margin: 0 0 1% 1%;
                border: 1px dashed $icon-color;
                display: inline-block;
                border-radius: 4px;

                #placeholder-img {

                    width: 60px;
                    height: 60px;
                    margin: 14px 40% 0;
                    position: relative;
                    top: 80px;

                    .icon-user-plus {
                        margin-top: 40px;
                        padding: 0 15%;
                        font-size: 60px;
                        color: $icon-color;
                    }
                    
                }

                #add-text {

                    width: 40%;
                    float: left;
                    margin: 10px 30% 0;
                    position: relative;
                    top: 80px;
                    text-align: center;
                    font-family: Arial, sans-serif;
                    color: $icon-color;

                }

            }

        }

        #add-btn {
            color: white;
            background-color: $bgcolor2;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            line-height: 45px;
            vertical-align: middle;
            font-size: 20px;
            top: 90%;
            left: 92%;
            box-shadow: 0px 3px 15px $bgcolor2;
        }

    }

}


